@font-face {
  font-family: dahlia;
  src: url(fonts/dahlia-regular.woff) format('woff');
}

.off-black {
  background: #232323;
}

#app {
  max-width: 1000px;
}

#sidebar {
  height: 100%;
  width:100px;
  background: #232323;
  border-right: 1px solid #F2CD5E;
  padding: 15px;
  user-select: none;
}

.logo {
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: solid 1px #F2CD5E;
}

.button {
  color: #f0f0f030;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  border-bottom: solid 1px #f0f0f030;
  cursor: pointer;
}

.button:hover {
  color: #F2CD5E;
  border-bottom: solid 1px #F2CD5E;
}

@media only screen and (max-width: 700px) {
  #sidebar {
    width: 0;
  }
  
}

#three {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}