@font-face {
  font-family: dahlia;
  src: url(fonts/dahlia-regular.woff) format("woff");
}

@font-face {
  font-family: kobe;
  src: url(fonts/Kobe1.1-Regular.woff) format("woff");
}

.off-black {
  background: #232323;
}

#app {
  max-width: 1000px;
}

#three {
}

#modal {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #232323bb;
  border-top: solid 2px #feb74cbb;
  color: #f0f0f0;

  height: 175px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
  font-family: kobe;
  user-select: none;
}

#modal span {
  text-align: center;
}

#modal a {
  color: #feb74cbb;
}

@media only screen and (max-width: 800px) {
  #modal {
  }
}
