@font-face {
  font-family: dahlia;
  src: url(fonts/dahlia-regular.woff) format('woff');
}

.off-black {
  background: #232323;
}

#app {
  max-width: 1000px;
}

#title {
  font-family: dahlia;
  color: #ecd8bf;
  flex-direction: column;
  user-select: none;
  padding-left: 7%;
  height: 100%;
  z-index: 10;
}

.large-text {
  font-size:6rem;
  line-height: 6rem;
}

.medium-text {
  font-size:2.25rem;
  line-height: 3rem;
}

@media only screen and (max-width: 700px) {
  .title {
    left: 10%;
  }

  .large-text {
    font-size:3.7rem;
    line-height: 3rem;
  }
  
  .medium-text {
    font-size:1.4rem;
    line-height:2.4rem;
  }
}

#three {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}