@font-face {
  font-family: dahlia;
  src: url(fonts/dahlia-regular.woff) format('woff');
}

.title {
  font-family: dahlia;
  background: #232323;
  color: #ECDEBF;
  flex-direction: column;
  padding-left: 12%;
  pointer-events: none;
}

.large-text {
  font-size:6rem;
  line-height: 6rem;
}

.medium-text {
  font-size:2.3rem;
  line-height: 3.5rem;
}

@media only screen and (max-width: 700px) {
  .large-text {
    font-size:3.25rem;
    line-height: 3rem;
  }
  
  .medium-text {
    font-size:1.3rem;
    line-height:2.4rem;
  }
}